In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
ds=pd.read_csv('train.csv')

In [96]:
ds

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [97]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [98]:
missing_values = ds.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [99]:
columns_with_missing_values = missing_values[missing_values > 0]

In [100]:
columns_with_missing_values

Mileage         2
Engine         36
Power          36
Seats          38
New_Price    5032
dtype: int64

1)MODE:
The most detect to impute missing values using the mode when working with ordinal or categorical data, such as a dataset's seat count. By replacing missing values with the value that occurs the most frequently, it makes sure that no data is lost and aids in maintaining the integrity of the dataset.

In [101]:
#seats mode

In [102]:
seats_mode = ds['Seats'].mode()[0]
seats_mode

5.0

In [103]:
ds['Seats'].fillna(seats_mode, inplace=True)
ds

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [104]:
missing_values = ds.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64

2)MEDIAN:
The reason for using the median to impute missing values in the "Mileage" column is that mileage data usually has an uneven distribution. The median yields a representative value and is resistant to outliers when used as a measure of central tendency. It also guarantees consistency in analysis and maintains the integrity of the data.

In [105]:
#mileage median

)I have Removed the units from some of the attributes and only kept the numerical values for kmpl from “Mileage”.

In [106]:
ds['Mileage'] = ds['Mileage'].str.replace(r'kmpl', '', regex=True)
ds['Mileage'] = ds['Mileage'].str.replace(r'km/kg', '', regex=True)

In [107]:
mileage_median = ds['Mileage'].median()
mileage_median

18.19

In [108]:
ds['Mileage'].fillna(mileage_median, inplace=True)
ds

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936 CC,57.6 bhp,5.0,NaN,2.50

In [109]:
missing_values = ds.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 36
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64

MEAN:
It makes sense to impute the mean to the missing values in the "Engine" column since it gives an indication of central tendency that corresponds to the average engine size in the dataset. By preserving the integrity of the dataset and guaranteeing that imputed values align with observed data, this method reduces the possibility of biases in later analyses.

In [110]:
#Engine mean

2)I have Removed the units from some of the attributes and only kept the numerical values for, CC from “Engine”, bhp

In [111]:
ds['Engine'] = ds['Engine'].str.replace(r'CC', '', regex=True)

In [112]:
ds['Engine'] = pd.to_numeric(ds['Engine'], errors='coerce')

In [113]:
engine_mean = ds['Engine'].mean()
engine_mean

1631.552572706935

In [114]:
engine_mean = int(engine_mean)
engine_mean

1631

In [115]:
ds['Engine'].fillna(engine_mean, inplace=True)
ds

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968.0,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120.0,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498.0,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998.0,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.6 bhp,5.0,NaN,2.50

In [116]:
missing_values = ds.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64

2)I have Removed the units from some of the attributes and only kept the numerical values for
 bhp from “Power”.

In [117]:
ds['Power'] = ds['Power'].str.replace(r'bhp', '', regex=True)

In [118]:
power_median = ds['Power'].median()
power_median

98.6

In [119]:
ds['Power'].fillna(power_median, inplace=True)
ds

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.2,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968.0,140.8,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.1,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120.0,71,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498.0,112,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998.0,67.1,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.6,5.0,NaN,2.50

In [120]:
missing_values = ds.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5032
Price                   0
dtype: int64

2)I have Removed the units from some of the attributes and only kept the numerical values for
 lakh from “New_price”

In [121]:
ds['New_Price']=ds['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [122]:
m1=ds.dropna()

In [123]:
m1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7,5.0,8.61,4.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5,2477.0,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995.0,190,5.0,47.87,18.55
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5,1199.0,88.7,5.0,10.57,9.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193.0,88.7,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598.0,103.5,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3,1248.0,88.5,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5,1198.0,86.8,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74,5.0,7.88,4.75

In [124]:
missing_values = m1.isnull().sum()
missing_values

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

3)I have Changed the categorical variables “Fuel_Type” and “Transmission” into numerical one hot
encoded value.
for Fuel_Type replaced Diesel with 0, Petrol with 1,Electric with 2
for Transmission replaced Manual with 10 and Automatic with 20

In [125]:
m1['Fuel_Type'].replace(['Diesel', 'Petrol','Electric'], [0, 1, 2],inplace=True)
m1['Transmission'].replace(['Manual', 'Automatic'], ['10', '20'],inplace=True)

<ipython-input-125-37d3a6a5ce38>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['Fuel_Type'].replace(['Diesel', 'Petrol','Electric'], [0, 1, 2],inplace=True)
<ipython-input-125-37d3a6a5ce38>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['Transmission'].replace(['Manual', 'Automatic'], ['10', '20'],inplace=True)

In [126]:
m1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,1,10,First,13,1199.0,88.7,5.0,8.61,4.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,10,First,21.56,1462.0,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,10,First,13.5,2477.0,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,20,First,22.69,1995.0,190,5.0,47.87,18.55
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,10,First,17.5,1199.0,88.7,5.0,10.57,9.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,10,First,17.57,1193.0,88.7,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,10,First,16.09,1598.0,103.5,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,10,First,24.3,1248.0,88.5,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,10,First,18.5,1198.0,86.8,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,10,First,28.4,1248.0,74,5.0,7.88,4.75

4)I have Created one more feature and added this column to the dataset . I have calculated the present age of the current_year by subtracting “Year” value
from the current year.

In [127]:
from datetime import datetime

In [128]:
current_year=datetime.now().year

In [129]:
m1['present_age']=current_year-m1['Year']

<ipython-input-129-332b5f6c0abc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['present_age']=current_year-m1['Year']

In [130]:
m1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,present_age
1,2,Honda Jazz V,Chennai,2011,46000,1,10,First,13,1199.0,88.7,5.0,8.61,4.50,13
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,10,First,21.56,1462.0,103.25,5.0,10.65,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,10,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,20,First,22.69,1995.0,190,5.0,47.87,18.55,10
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,10,First,17.5,1199.0,88.7,5.0,10.57,9.90,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,10,First,17.57,1193.0,88.7,5.0,7.77,4.00,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,10,First,16.09,1598.0,103.5,5.0,11.91,3.25,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,10,First,24.3,1248.0,88.5,5.0,9.93,7.43,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,10,First,18.5,1198.0,86.8,5.0,6.63,3.20,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,10,First,28.4,1248.0,74,5.0,7.88,4.75,10

5)Performed select operation

In [131]:
select_att=m1[['Name','Kilometers_Driven','Fuel_Type','Location','Year']]
select_att

,Name,Kilometers_Driven,Fuel_Type,Location,Year
1,Honda Jazz V,46000,1,Chennai,2011
8,Maruti Ciaz Zeta,25692,1,Kochi,2018
13,Mitsubishi Pajero Sport 4X4,110000,0,Delhi,2014
18,BMW 3 Series 320d,32982,0,Kochi,2014
26,Honda WRV i-VTEC VX,37430,1,Kochi,2018
...,...,...,...,...,...
5827,Tata Bolt Revotron XT,10000,1,Chennai,2016
5830,Volkswagen Vento 1.6 Highline,38000,1,Mumbai,2011
5833,Maruti Vitara Brezza VDi,37208,0,Pune,2016
5838,Honda Brio 1.2 VX MT,33746,1,Delhi,2013
5842,Maruti Swift VDI,27365,0,Delhi,2014

Performed filter operation

In [86]:
filter_att=m1[m1['Kilometers_Driven']>5000]
filter_att

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,present_age
1,2,Honda Jazz V,Chennai,2011,46000,1,A,First,13,1199.0,88.7,5.0,8.61,4.50,13
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,A,First,21.56,1462.0,103.25,5.0,10.65,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,A,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,B,First,22.69,1995.0,190,5.0,47.87,18.55,10
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,A,First,17.5,1199.0,88.7,5.0,10.57,9.90,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,A,First,17.57,1193.0,88.7,5.0,7.77,4.00,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,A,First,16.09,1598.0,103.5,5.0,11.91,3.25,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,A,First,24.3,1248.0,88.5,5.0,9.93,7.43,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,A,First,18.5,1198.0,86.8,5.0,6.63,3.20,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,A,First,28.4,1248.0,74,5.0,7.88,4.75,10

performed rename operation

In [132]:
rename_att = m1.rename(columns={'Engine': 'Moter'})
rename_att

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Moter,Power,Seats,New_Price,Price,present_age
1,2,Honda Jazz V,Chennai,2011,46000,1,10,First,13,1199.0,88.7,5.0,8.61,4.50,13
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,10,First,21.56,1462.0,103.25,5.0,10.65,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,10,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,20,First,22.69,1995.0,190,5.0,47.87,18.55,10
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,10,First,17.5,1199.0,88.7,5.0,10.57,9.90,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,10,First,17.57,1193.0,88.7,5.0,7.77,4.00,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,10,First,16.09,1598.0,103.5,5.0,11.91,3.25,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,10,First,24.3,1248.0,88.5,5.0,9.93,7.43,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,10,First,18.5,1198.0,86.8,5.0,6.63,3.20,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,10,First,28.4,1248.0,74,5.0,7.88,4.75,10

performed mutate operation

In [133]:
m1['price.difference'] = m1['New_Price'] - m1['Price']
m1

<ipython-input-133-98fb0889d47d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['price.difference'] = m1['New_Price'] - m1['Price']

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,present_age,price.difference
1,2,Honda Jazz V,Chennai,2011,46000,1,10,First,13,1199.0,88.7,5.0,8.61,4.50,13,4.11
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,10,First,21.56,1462.0,103.25,5.0,10.65,9.95,6,0.70
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,10,First,13.5,2477.0,175.56,7.0,32.01,15.00,10,17.01
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,20,First,22.69,1995.0,190,5.0,47.87,18.55,10,29.32
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,10,First,17.5,1199.0,88.7,5.0,10.57,9.90,6,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,10,First,17.57,1193.0,88.7,5.0,7.77,4.00,8,3.77
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,10,First,16.09,1598.0,103.5,5.0,11.91,3.25,13,8.66
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,10,First,24.3,1248.0,88.5,5.0,9.93,7.43,8,2.50
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,10,First,18.5,1198.0,86.8,5.0,6.63,3.20,11,3.43
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,10,First,28.4,1248.0,74,5.0,7.88,4.75,10,3.13

performed arrang operation

In [134]:
arranged_att = m1.sort_values(by='Power')
arranged_att

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,present_age,price.difference
5760,5928,Mahindra NuvoSport N6,Coimbatore,2018,37323,0,10,Second,17.45,1493.0,100,7.0,10.52,7.29,6,3.23
5142,5291,Maruti Baleno RS Petrol,Kochi,2018,43639,1,10,First,21.1,998.0,100,5.0,9.83,8.15,6,1.68
3955,4083,Maruti Baleno RS Petrol,Coimbatore,2018,26731,1,10,First,21.1,998.0,100,5.0,10.89,8.61,6,2.28
2462,2545,Mahindra NuvoSport N8,Coimbatore,2017,37712,0,10,First,17.45,1493.0,100,7.0,11.77,7.57,7,4.20
192,200,Mahindra NuvoSport N6,Chennai,2017,29000,0,10,Second,17.45,1493.0,100,7.0,10.52,6.50,7,4.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,4950,Ford Aspire Titanium Diesel,Kolkata,2017,60048,0,10,First,26.1,1498.0,99,5.0,8.91,6.00,7,2.91
3196,3300,Ford Aspire Ambiente Diesel,Kolkata,2018,17000,0,10,First,26.1,1498.0,99,5.0,7.56,5.65,6,1.91
736,762,Ford Figo Titanium Diesel,Kolkata,2015,72035,0,10,First,25.5,1498.0,99,5.0,7.65,2.50,9,5.15
2019,2079,Ford Aspire Titanium Plus Diesel,Kolkata,2015,2800,0,10,First,26.1,1498.0,99,5.0,9.40,8.41,9,0.99
647,671,Nissan Sunny XV CVT,Kochi,2013,37199,1,20,First,17.5,1498.0,99.6,5.0,11.33,5.43,11,5.90

performed summarize operation

In [135]:
summary_att = m1.groupby('Seats')['Price'].mean()
summary_att

Seats
2.0    68.980000
4.0    34.555833
5.0    12.515426
6.0     7.665000
7.0    17.211356
8.0    18.655714
Name: Price, dtype: float64